.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0 20px;
	align-items: flex-start;
	justify-content: center;
}

.container div {
	flex: 1;
	min-height: 480px;
	max-height: 600px;
	cursor: pointer;
}

.container div:first-child {
	cursor: pointer;
}