.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10% 0 0 0;
}

.main_title,
.button,
.item {
	color: #f4f4f4;
}

.main_title {
	font-size: 2rem;
	font-weight: 700;
	margin: 0 0 15px 0;
	letter-spacing: .25em;
}

.item {
	height: 40px;
	font-size: 1.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 5px;
	border-radius: 20px;
}

.item:hover {
	background: #565675;
}

.button {
	width: 260px;
	height: 20px;
	border-radius: 12px;
	border: 1px solid #565675;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	padding: 5px 10px;
}

.button:hover {
	background: #565675;
}

.footer {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0 5px;
}