.field_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto 15px auto;
}

.item {
	box-sizing: border-box;
	height: 60px;
	width: 60px;
	background: #fff;
	border: 1px solid #565675;
}