.field_container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	user-select: none;
}

.item {
	box-sizing: border-box;
	height: 30px;
	width: 30px;
	background: #fff;
	border: 1px solid #565675;
}

.ship {
	background: url('/src/imgs/ship.svg') no-repeat center/contain, #fff;
}

.miss {
	background: url('/src/imgs/miss.svg') no-repeat center/contain, #fff;
}

.hit {
	background: url('/src/imgs/hit.svg') no-repeat center/contain, #fff;
}

.vertical_ship {
	display: block;
}

.horizontal_ship {
	display: flex;
}

.vertical_ship:hover,
.horizontal_ship:hover {
	background-color: #fff;
	cursor: grab;
	user-select: none;
}